$logolightblue: #1EB4ED;
$logodarkblue: #021C4A;
$logolightorange: #F9BA3E;
$logodarkorange: #F38231;

@import './base/reset';
@import './base/slick';
@import './base/slick-theme';
@import './partials/navbar';
@import './partials/index';

body {
  background: url("../img/bg.png") no-repeat center center fixed;
}

.container {
  background-color: RGBA(7, 7, 9, 1);
  max-width: 1120px;
  margin: 0 auto;
  height: 100%;
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
  }
}

.test {
  color: white;
}
