extends ./layout.pug

block content
  .slider.test
    div(style='background-color:red') slide1
    div(style='background-color:blue') slide2
    div(style='background-color:green') slide3
  .row-2
    .container-2
      .youtube-2
        h1 WATCH
        .video-container
          iframe(frameborder="0" width="560" height="315" src='https://www.youtube.com/embed/6CUXLEFv1SA')
      .twitter-2
        h1 Follow on
