extends ./layout.pug

block content
  .container
    .slider.test
      div(style='background-color:red') slide1
      div(style='background-color:blue') slide2
      div(style='background-color:green') slide3
