header {
  border-bottom: 1px solid darkgrey;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;


  .logo {
    width: 220px;
    padding: 10px;

  }
  ul {
    display: flex;

    padding-right: 20px;

    li {
      padding:0 15px;
      border-left: 1px solid darkgrey;
      height: 30px;
      transform: skewX(-25deg);
      height: 100px;
      text-transform: uppercase;
      display: inline-block;
      font-color: white;


      a {
        display: flex;
        transform: skewX(25deg);
        align-items: center;
        height: 100%;
        width: 100%;
        line-height: 20px;

        img.overwatch-logo {
          width: 150px;

        }
        img.csgo-logo {
          width: 90px;

        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
  }
}
